In [128]:
import pandas as pd
import numpy as np
import seaborn as sns

df1 = pd.read_csv('dataverse_files/main_data.tab', sep="\t")
df1 = df1.dropna(axis=0, subset='time')
df1.filter(regex='\w*host\w*')

,hostcity,hostcitynum,hostcitytime,hostcitytime2,hostcitytime3,hostcitytime_long,hostcitytime2_long,hostcitytime3_long,matched_allhosts
59,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN
60,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN
61,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN
62,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN
63,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...
133635,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN
133636,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN
133637,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN
133638,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN
133639,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [120]:
s1_3_1 = df1[[ 'repression', 'lnrepression', 'dumrepression', 'hostcity', 'prox_hotelonly', 'prox_hotelpress', 
    'time', 'time2', 'time3', 'lnpop_1970', 'literacy_avg', 'vote_frejuli', 'lnrebact1974',  
    'lnrepression70_77', 'zone1', 'zone2', 'zone3', 'zone4', 'zone5']]


s1_3_1 = s1_3_1.rename(
    columns={
        'repression': '$Repression \ Events$',
        'lnrepression': '$Repression \ Events^a$',
        'dumrepression': '$Repression \ Events$',
        'hostcity': '$Host \ City$',
        'prox_hotelonly': '$Proximity \ to \ Hotel$',
        'prox_hotelpress': '$Proximity \ to \ Journalist \ Venue$',
        'time': '$Time$',
        'time2': '$Time^2$',
        'time3': '$Time^3$',
        'lnpop_1970': '$Population \ Size^a$',
        'literacy_avg': '$Literacy \ Rate$',
        'vote_frejuli': '$Peronist \ Vote \ Share$',
        'lnrebact1974': '$Rebel \ Activity^a$',
        'lnrepression70_77': '$Past \ Repression^a$',
        'latitude': '$Latitude$',
        'lnstrikes': '$Protest_{Current \ month}^a$',
        'lnlag_strikes': '$Protest_{One \ Month \ ago}^a$',
        'lnlag2_strikes': '$Protest_{Two \ Months \ ago}^a$',
        'zone1': '$Military \ Zone \ 1$',
        'zone2': '$Military \ Zone \ 2$',
        'zone3': '$Military \ Zone \ 3$',
        'zone4': '$Military \ Zone \ 4$',
        'zone5': '$Military \ Zone \ 5$',
        
    }
)

s1_3_1 = s1_3_1.describe().T.drop(columns=['25%', '50%', '75%'], errors='ignore')
s1_3_1 = s1_3_1.astype({
    'count': 'int',
})

for col in ['mean', 'std', 'min', 'max']:
    s1_3_1[col] = s1_3_1[col].map('{:,.3f}'.format)

s1_3_1 = s1_3_1.rename(columns={
    'count': 'Obs.',
    'mean': 'Mean',
    'std': 'Std. dev.',
    'min': 'Min.',
    'max': 'Max.'
})

types = [
    'Count', 'Continuous', 'Binary', 'Binary', 'Continuous', 'Continuous',
    'Count', 'Count', 'Count', 'Continuous', 'Continuous', 'Continuous',
    'Continuous', 'Continuous', 'Continuous', 'Continuous', 'Continuous',
    'Continuous', 'Binary', 'Binary', 'Binary', 'Binary', 'Binary',
]

s1_3_1.insert(0, 'Type', types)
s1_3_1

,Type,Obs.,Mean,Std. dev.,Min.,Max.
$Repression \ Events$,Count,58107,0.005,0.104,0.000,7.000
$Repression \ Events^a$,Continuous,58107,0.003,0.053,0.000,2.079
$Repression \ Events$,Binary,58107,0.003,0.058,0.000,1.000
$Host \ City$,Binary,58383,0.010,0.100,0.000,1.000
$Proximity \ to \ Hotel$,Continuous,58107,7.000,1.613,0.000,9.398
$Proximity \ to \ Journalist \ Venue$,Continuous,58107,7.079,1.629,0.000,9.398
$Time$,Count,58383,0.590,0.338,0.010,1.170
$Time^2$,Count,58383,0.462,0.411,0.000,1.369
$Time^3$,Count,58383,0.407,0.460,0.000,1.602
$Population \ Size^a$,Continuous,56628,9.701,1.336,6.057,14.905
$Literacy \ Rate$,Continuous,56628,0.717,0.110,0.316,0.901
$Peronist \ Vote \ Share$,Continuous,57447,58.752,11.539,28.500,94.300
$Rebel \ Activity^a$,Continuous,58383,1.937,2.069,0.000,5.037
$Past \ Repression^a$,Continuous,58383,0.908,1.434,0.000,7.557
$Latitude$,Continuous,58383,-32.378,5.460,-54.749,-22.129
$Protest_{Current \ month}^a$,Continuous,58383,0.010,0.102,0.000,2.079
$Protest_{One \ Month \ ago}^a$,Continuous,58383,0.009,0.100,0.000,2.079
$Protest_{Two \ Months \ ago}^a$,Continuous,58383,0.009,0.098,0.000,2.079
$Military \ Zone \ 1$,Binary,58383,0.246,0.431,0.000,1.000
$Military \ Zone \ 2$,Binary,58383,0.220,0.415,0.000,1.000
$Military \ Zone \ 3$,Binary,58383,0.379,0.485,0.000,1.000
$Military \ Zone \ 4$,Binary,58383,0.020,0.140,0.000,1.000
$Military \ Zone \ 5$,Binary,58383,0.134,0.341,0.000,1.000

In [129]:
df2 = pd.read_csv('dataverse_files/figure_1_data.tab', sep="\t")
df2

   postcwy  event_selec  autochost  autochostperc
0      1.0         25.0        2.0       8.000000
1      2.0         31.0        4.0      12.903226
2      3.0         25.0        5.0      20.000000
3      4.0         24.0        6.0      25.000000
4      5.0         30.0        6.0      20.000000
5      6.0         32.0        9.0      28.125000
6      7.0         27.0       10.0      37.037037